<%= form_for(@rink) do |f| %>
  <% if @rink.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rink.errors.count, "error") %> prohibited this rink from being saved:</h2>

      <ul>
      <% @rink.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_area :address %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br />
    <%= f.text_field :longitude %>
  </div>
  <div class="field">
    <%= f.label :latitude %><br />
    <%= f.text_field :latitude %>
  </div>
	<div class="field">
    <%= f.label :rinktype %><br />
    <%= f.text_field :rinktype %>
  </div>
	<div class="field">
    <%= f.label :lights %><br />
    <%= f.text_field :lights %>
  </div>
	<div class="field">
    <%= f.label :facilities %><br />
    <%= f.text_area :facilities %>
  </div>
	<div class="field">
    <%= f.label :conditions %><br />
    <%= f.text_area :conditions %>
  </div>
  <div class="field">
    <%= f.label :notes %><br />
    <%= f.text_area :notes %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
