<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @rink.name %>
</p>

<p>
  <b>Address:</b>
  <%= @rink.address %>
</p>

<p>
  <b>Longitude:</b>
  <%= @rink.longitude %>
</p>

<p>
  <b>Latitude:</b>
  <%= @rink.latitude %>
</p>

<p>
  <b>Rink Type:</b>
  <%= @rink.rinktype %>
</p>

<p>
  <b>Hours:</b>
  <%= @rink.hours %>
</p>

<p>
  <b>Lights:</b>
  <%= @rink.lights %>
</p>

<p>
  <b>Facilities:</b>
  <%= @rink.facilities %>
</p>

<p>
  <b>Conditions:</b>
  <%= @rink.conditions %>
</p>

<p>
  <b>Notes:</b>
  <%= @rink.notes %>
</p>

<p>
	<% @rink.rinkconditions.each do |cond| %>
		<%= cond.condition %><br/>
		<%= cond.comment %>
	<% end %>
</p>


<%= link_to 'Edit', edit_rink_path(@rink) %> |
<%= link_to 'Back', rinks_path %>
